* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8fec15;
    padding: 0.1rem;
}
header a {
    text-decoration: none;
    color: #17801c;
    text-decoration: underline;
    padding: 0.5rem 1rem;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    color: #121211;
    background-color: #ececff;
    line-height: 1.5;
}

input:focus {
    outline: none;
    border: 2px solid #8fec15;
}
p {
    margin-bottom: 1rem;

}
dt {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
dd {
    margin-bottom: 1rem;
    text-decoration: underline;
}
footer {
    background-color: #121211;
    color: #ececff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}